    <!--<div class="footer-spacer"></div>-->
    <!--<footer>-->
      <!--<span id="github" class="icon">-->
        <!--<a href="https://github.com/polskais1" target="_blank"><i class="fa fa-github fa-2x"></i></a>-->
      <!--</span>-->
      <!--<span id="twitter" class="icon">-->
        <!--<a href="https://twitter.com/Polskais1" target="_blank"><i class="fa fa-twitter fa-2x"></i></a>-->
      <!--</span>-->
      <!--<span id="linkedin" class="icon">-->
        <!--<a href="https://www.linkedin.com/in/paulfielek" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a>-->
      <!--</span>-->
    <!--</footer>-->
  </body>
</html>
