<%- include layouts/header.ejs -%>
<div id="banner">
</div>
<div id="banner-content">
  <h1>hello</h1>
  <p>
  My name is Paul Fielek. I make things, mostly with code. I am currently working as a full stack developer at a social network called <a href="http://lettrs.com" target="_blank">lettrs</a>.
  </p>
</div>
<div id="content-container">
  <div id="skills">
    <h1>skills</h1>
    <div class="skill">
      <h2>Backend</h2>
      <h3>Ruby on Rails</h3>
      <ul>
        <li></li>
      </ul>
    </div>
    <div class="skill">
      <h2>Frontend</h2>
      <h3>JavaScript</h3>
      <p>Ruby</p>
    </div>
    <div class="skill">
      <h2>Games</h2>
      <h3>Unity Engine</h3>
      <p>Ruby</p>
    </div>
    <div class="skill">
      <h2>Non-Technical</h2>
      <h3>Ruby</h3>
      <p>Ruby</p>
    </div>
  </div>
  <div id="projects">
    <div class="project">
    </div>
  </div>
  <div id="contact"></div>
</div>
<%- include layouts/footer.ejs %>
