$red: #ff6138;
$yellow: #ffff9d;
$light-green: #beeb9f;
$mid-green: #79bd8f;
$dark-green: #00a388;

$beige: #F2E7D2;
$blue: #1F4780;
$teal: #0C5878;
$orange: #C49441;

$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Roboto', sans-serif;

html, body {
  background-color: $teal;
  height: 100%;
  margin: 0 auto;
}

h1 {
  font-family: $primary-font;
  font-size: 4em;
  margin: 0;
  padding: 0;
}

h2, p {
  font-family: $secondary-font;
}

h2 {
  font-size: 2.5em;
}

/**** Welcome section ****/
#welcome {
  height: 100%;
  width: 100%;
}

#name {
  background-color: $beige;
  padding: .5em 2%;
  position: absolute;
  text-align: center;
}
