$red: #ff6138;
$yellow: #ffff9d;
$light-green: #beeb9f;
$mid-green: #79bd8f;
$dark-green: #00a388;

html, body {
  margin: 0 auto;
  height: 100%;
  color: $red;
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  background-color: $mid-green;
}

h1 {
  font-size: 4em;
  margin: 0;
}

h2 {
  font-size: 2.5em;
}

#welcome {
  width: 100%;
  height: 100%;
}

/** Swingouts **/
.swingout {
  width: 50%;
  height: 5%;
}

.top-left-swingout {
  fill: $red;

}

.top-right-swingout {
  fill: $yellow;
}

.bottom-left-swingout {
  fill: $light-green;
}

.bottom-right-swingout {
  fill: $dark-green;
}
