body {
  margin: 0 auto;
  color: #ECF0F1;
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  background-color: #2C3E50;
}

h1 {
  font-size: 4em;
  margin: 0;
}

h2 {
  font-size: 2.5em;
}

a {
  /*color: #3498DB;*/
  /*color: #EC4C3C;*/
  /*color: #2980B9;*/
}

/******NAVBAR*******/
header {
  position: fixed;
  width: 100%;
  background-color: #2C3E50;
  z-index: 5;
}

nav {
  height: 2em;
  text-align: center;
  padding-top: .8em;
}

nav a {
  margin: 0 5%;
}

a {
  color: #ECF0F1;
  text-decoration: none;
  -webkit-transition: color .5s;
  -moz-transition: color .5s;
  transition: color .5s;
}

a:hover {
  color: #EC4C3C;
}

.nav-spacer {
  width: 100%;
  height: 45px;
}

/******FOOTER******/
footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: #2C3E50;
  text-align: center;
}

footer i {
  color: #2980B9;
  text-decoration: none;
  margin: 10px 30px;
  -webkit-transition: color .5s;
  -moz-transition: color .5s;
  transition: color .5s;
}

footer i:hover {
  color: #EC4C3C;
}

.footer-spacer {
  width: 100%;
  height: 68px;
}

/******BANNER******/
#banner {
  position: fixed;
  width: 100%;
  height: 600px;
  background-image: url("/images/brooklyn_bridge.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}

#banner-content {
  position: relative;
  top: 140px;
  padding: 50px 0;
  width: 100%;
  text-align: center;
  background-color: rgba(236, 76, 60, .5);
}

#banner-content p {
  font-size: 2em;
  margin: 20px auto 0;
}

@media (max-width: 950px) {
  #banner {
    background-size: 225%;
  }
}

/******SKILLS******/
#content-container {
  position: relative;
  top: 290px;
  padding: 0 20%;
  text-align: center;
  background-color: #2980B9;
}

#skills h2 {
  margin: 0;
  padding: .5em 0;
}

.skill {
  text-align: right;
}

.skill:nth-child(even) {
  text-align: left;
}

/******UNITY******/
div.content {
  margin: auto;
  width: 960px;
}
div.broken,
div.missing {
  margin: auto;
  position: relative;
  top: 50%;
  width: 193px;
}
div.broken a,
div.missing a {
  height: 63px;
  position: relative;
  top: -31px;
}
div.broken img,
div.missing img {
  border-width: 0px;
}
div.broken {
  display: none;
}
div#unityPlayer {
  cursor: default;
  height: 600px;
  width: 960px;
}
